.loginFrom {
  border-radius: 8px;
  padding: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .ant-form{
    width: 100%;
  }
  h1 {
    text-align: center;
  }

  .ant-form-item-control {
    text-align: center;
  }

  #loginFromInput {
    margin-top: 40px;
  }
}